*{
    font-family: 'Sora', sans-serif;

}
body{
    background-image: linear-gradient(45deg, #0F172A 65%, #193251,#10192D);
    background-attachment: fixed;
}
.container h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #efefef;
}
.container p{
    font-size: 18px;
    color: #94a3b8;
    display: flex;
    justify-content: center;
    
}
.container button{
    margin-bottom: 20px;
    outline: none;
    background: none;
    color: #fafafa;
    border: 1px solid #e0e0e0;
    padding: 10px 30px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
    margin-left: 42%;
    margin-top: 2%;
}
.container button:hover{
    background: #fafafa;
    color: #212121;
}

#box{
    margin-top: 30px;
}
#txt1,#txt2{
    color: #94a3b8;
    display: flex;
    justify-content: start;
}
#p1{
    margin-top: 30px;
}
#p2{
    margin-bottom: 10px;    
}
#txt2{
    margin-top: 30px;
    
}
.container img ,a{
  display: flex;
  justify-content: center;
  margin-top: 9%;

    
}
.container img{
    width: 50px;
    height: 50px;
    position: sticky;
}
